In [18]:
import pandas

#df= pandas.read_csv('babyNamesUS.csv')
#print(df)

df= pandas.read_csv('NamesAKTX.csv')
#print(df)

In [19]:
#get texas names and AK names
SmallerDF=df.loc[(df['StateCode'] == 'TX') | (df['StateCode'] == 'AK')]
#print(SmallerDF)

In [20]:
#Take just the smaller DB of names as source just TX and Alaska due to github limits
SmallerDF.to_csv('NamesAKTX.csv') #just a random capture of the smaller example

In [21]:
PickOne = SmallerDF.sample() ###NARROW BY YEAR PLUS OR MINUS 3, THEN STATE, THEN SEX
print(PickOne)
print(PickOne.Name)

        Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  Unnamed: 0.1.1.1 StateCode  \
253312      253312        253312          253312           5058524        TX

       Sex  YearOfBirth    Name  Number
253312   M         1950  Donell       5
253312    Donell
Name: Name, dtype: object

In [58]:
def findword(name,n):
    #Using ' ' as a separator, All_words ia a list of all the words in the String
    All_words=name.split(" ")
    print(All_words[n-1])

In [31]:
#make a function
def FetchFirstName(Year, State, Sex):
    NarrowedDF=df.loc[(df['StateCode'] == State) & (df['YearOfBirth'] == Year) & (df['Sex'] == Sex)]
  
    #print(NarrowedDF)
    PickAName=NarrowedDF.sample()
    NameToReturn=PickAName.Name.to_string()
    
    return findword(NameToReturn,5)   #five spaces equals a tab
    
FetchFirstName(1912,'TX','F')

Francisca

In [35]:
LastNameDataFrame= pandas.read_csv('surnames.csv')
#print(LastNameDataFrame)

In [59]:
def FetchLastName():
    import numpy

    SelectOne = LastNameDataFrame.sample() ###NARROW BY YEAR PLUS OR MINUS 3, THEN STATE, THEN SEX
    NameToReturn=SelectOne.name.to_string()
    FormattedName=findword(NameToReturn,5)  #five spaces equals a tab
    FormattedName=FormattedName.to_string()
    FormattedName=FormattedName.capitalize() 


    return to_lower(FormattedName)
    
FetchLastName()

MERRILL

AttributeError: 'NoneType' object has no attribute 'to_string'

In [ ]:
#need middle name so the first name has to be run twice.