In [3]:
import pandas

#df= pandas.read_csv('babyNamesUS.csv')
#print(df)

df= pandas.read_csv('NamesAKTX.csv')
print(df)

        Unnamed: 0 StateCode Sex  YearOfBirth      Name  Number
0                0        AK   F         1910      Mary      14
1                1        AK   F         1910     Annie      12
2                2        AK   F         1910      Anna      10
3                3        AK   F         1910  Margaret       8
4                4        AK   F         1910     Helen       7
...            ...       ...  ..          ...       ...     ...
357810     5163022        TX   M         2015       Zen       5
357811     5163023        TX   M         2015    Zephan       5
357812     5163024        TX   M         2015     Ziyad       5
357813     5163025        TX   M         2015      Zyan       5
357814     5163026        TX   M         2015     Zyron       5

[357815 rows x 6 columns]

In [4]:
#get texas names to make a smaller file
SmallerDF=df.loc[df['StateCode'] == 'TX']
print(SmallerDF)

        Unnamed: 0 StateCode Sex  YearOfBirth    Name  Number
27143      4832355        TX   F         1910    Mary     895
27144      4832356        TX   F         1910    Ruby     314
27145      4832357        TX   F         1910   Annie     277
27146      4832358        TX   F         1910  Willie     260
27147      4832359        TX   F         1910    Ruth     252
...            ...       ...  ..          ...     ...     ...
357810     5163022        TX   M         2015     Zen       5
357811     5163023        TX   M         2015  Zephan       5
357812     5163024        TX   M         2015   Ziyad       5
357813     5163025        TX   M         2015    Zyan       5
357814     5163026        TX   M         2015   Zyron       5

[330672 rows x 6 columns]

In [5]:
#get texas names and AK names
SmallerDF=df.loc[(df['StateCode'] == 'TX') | (df['StateCode'] == 'AK')]
print(SmallerDF)

        Unnamed: 0 StateCode Sex  YearOfBirth      Name  Number
0                0        AK   F         1910      Mary      14
1                1        AK   F         1910     Annie      12
2                2        AK   F         1910      Anna      10
3                3        AK   F         1910  Margaret       8
4                4        AK   F         1910     Helen       7
...            ...       ...  ..          ...       ...     ...
357810     5163022        TX   M         2015       Zen       5
357811     5163023        TX   M         2015    Zephan       5
357812     5163024        TX   M         2015     Ziyad       5
357813     5163025        TX   M         2015      Zyan       5
357814     5163026        TX   M         2015     Zyron       5

[357815 rows x 6 columns]

In [33]:
#Take just the smaller DB of names as source just TX and Alaska due to github limits
SmallerDF.to_csv('NamesAKTX.csv') #just a random capture of the smaller example

In [13]:
PickOne = SmallerDF.sample() ###NARROW BY YEAR PLUS OR MINUS 3, THEN STATE, THEN SEX
print(PickOne)
print(PickOne.Name)

       Unnamed: 0 StateCode Sex  YearOfBirth    Name  Number
71435     4876647        TX   F         1953  Dahlia      15
71435    Dahlia
Name: Name, dtype: object

In [30]:
#make a function
def FetchName(Year, State, Sex):
    NarrowedDF=df.loc[(df['StateCode'] == State) & (df['YearOfBirth'] == Year) & (df['Sex'] == Sex)]
  
    print(NarrowedDF)
    PickAName=NarrowedDF.sample()
    return(PickAName.Name)

    
FetchName(1912,'AK','F')

    Unnamed: 0 StateCode Sex  YearOfBirth      Name  Number
14          14        AK   F         1912      Mary       9
15          15        AK   F         1912     Elsie       8
16          16        AK   F         1912     Agnes       7
17          17        AK   F         1912      Anna       7
18          18        AK   F         1912     Helen       7
19          19        AK   F         1912    Louise       7
20          20        AK   F         1912      Jean       6
21          21        AK   F         1912      Ruth       6
22          22        AK   F         1912     Alice       5
23          23        AK   F         1912    Esther       5
24          24        AK   F         1912     Ethel       5
25          25        AK   F         1912  Margaret       5
26          26        AK   F         1912     Marie       5

17    Anna
Name: Name, dtype: object