In [1]:
import pandas

#df= pandas.read_csv('babyNamesUS.csv')
#print(df)

df= pandas.read_csv('NamesAKTX.csv')
#print(df)

In [2]:
#get texas names and AK names
SmallerDF=df.loc[(df['StateCode'] == 'TX') | (df['StateCode'] == 'AK')]
#print(SmallerDF)

In [3]:
#Take just the smaller DB of names as source just TX and Alaska due to github limits
SmallerDF.to_csv('NamesAKTX.csv') #just a random capture of the smaller example

In [4]:
PickOne = SmallerDF.sample() ###NARROW BY YEAR PLUS OR MINUS 3, THEN STATE, THEN SEX
print(PickOne)
print(PickOne.Name)

        Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  Unnamed: 0.1.1.1  \
325733      325733        325733          325733            325733

        Unnamed: 0.1.1.1.1  Unnamed: 0.1.1.1.1.1 StateCode Sex  YearOfBirth  \
325733              325733               5130945        TX   M         2003

         Name  Number
325733  Bruno      30
325733    Bruno
Name: Name, dtype: object

In [5]:
def findword(name,n):
    #Using ' ' as a separator, All_words ia a list of all the words in the String
    All_words=name.split(" ")
    return (All_words[n-1])

In [6]:
#make a first name function
def FetchFirstName(Year, State, Sex):
    NarrowedDF=df.loc[(df['StateCode'] == State) & (df['YearOfBirth'] == Year) & (df['Sex'] == Sex)]
  
    #print(NarrowedDF)
    PickAName=NarrowedDF.sample()
    NameToReturn=PickAName.Name.to_string()
    
    return findword(NameToReturn,5)   #five spaces equals a tab
    
FetchFirstName(1912,'TX','F')

'Anastacia'

In [7]:
LastNameDataFrame= pandas.read_csv('surnames.csv')
#print(LastNameDataFrame)

In [8]:
def FetchLastName():
    import numpy

    SelectOne = LastNameDataFrame.sample() ###NARROW BY YEAR PLUS OR MINUS 3, THEN STATE, THEN SEX
    NameToReturn=SelectOne.name.to_string()
    FormattedName=findword(NameToReturn,5)  #five spaces equals a tab
    FormattedName=FormattedName.capitalize() #capitalize first letter of word

    return FormattedName
    
FetchLastName()

'Vaughan'

In [9]:
#need middle name so the first name has to be run twice.

In [10]:
def MakeAName():
    firstname=FetchFirstName(1912,'TX','F')
    lastname=FetchLastName()
    
    fullname=firstname+" "+lastname
    
    return fullname

In [11]:
for i in range(80):
    print(MakeAName())

Dovie Rowe
Maurice Mullen
Ruthie Bryan
Ola Willis
Jaunita Griffith
Francisca Walton
Modesta Berg
Eloisa Brady
Lilly Mcbride
Eloise Li
Otila Proctor
Adela Silva
Nita Huerta
Nancy Villegas
Carolina Pitts
Loree Manning
Celia Dorsey
Sophie Hendrickson
Johnie Sears
Ester Daly
Cassie Justice
Lexie Goff
Sofia Ewing
Albina Ferrell
Violet French
Lennie Newell
Cecile Huber
June Fleming
Bonnie Lutz
Verda Burns
Irene Curry
Pilar Hess
Ignacia Wagner
Donna Brandt
Bobbie Garza
Lou Farmer
Erie Potts
Una Hodges
Verda Palmer
Joy Solis
Ruby Leon
Bernice Pineda
Mary Arellano
Hortense Burnett
Sally Chan
Lyda Mcconnell
Hulda Stark
Elnora Strong
Jovita Williamson
Hellen Prince
Frances Mayer
Katharine Mccall
Faustina Nichols
Regina Zamora
Isabell Baxter
Eva Bates
Anita Palacios
Wilma Moses
Lue Sexton
Sylvia Ballard
Doris Cordova
Ella Knight
Patsy Ellis
Lina Dillon
Amanda Gordon
Theresa Brandt
Corinne Jennings
Iola Bass
Cordie Atkinson
Edythe Camacho
Daisy Trujillo
Reyes Carson
Petra Higgins
Aline Ramos
Cruz Gibson
Carolina Wiggins
Rosalee Ponce
Reva Dalton
Petra Gates
Gussie Erickson