In [1]:
import pandas

#df= pandas.read_csv('babyNamesUS.csv')
#print(df)

df= pandas.read_csv('NamesAKTX.csv')
#print(df)

In [2]:
#get texas names and AK names
SmallerDF=df.loc[(df['StateCode'] == 'TX') | (df['StateCode'] == 'AK')]
#print(SmallerDF)

In [3]:
#Take just the smaller DB of names as source just TX and Alaska due to github limits
SmallerDF.to_csv('NamesAKTX.csv') #just a random capture of the smaller example

In [4]:
PickOne = SmallerDF.sample() ###NARROW BY YEAR PLUS OR MINUS 3, THEN STATE, THEN SEX
print(PickOne)
print(PickOne.Name)

        Unnamed: 0  Unnamed: 0.1  Unnamed: 0.1.1  Unnamed: 0.1.1.1  \
201965      201965        201965          201965            201965

        Unnamed: 0.1.1.1.1 StateCode Sex  YearOfBirth      Name  Number
201965             5007177        TX   F         2012  Giovanna      23
201965    Giovanna
Name: Name, dtype: object

In [16]:
def findword(name,n):
    #Using ' ' as a separator, All_words ia a list of all the words in the String
    All_words=name.split(" ")
    return (All_words[n-1])

In [26]:
#make a first name function
def FetchFirstName(Year, State, Sex):
    NarrowedDF=df.loc[(df['StateCode'] == State) & (df['YearOfBirth'] == Year) & (df['Sex'] == Sex)]
  
    #print(NarrowedDF)
    PickAName=NarrowedDF.sample()
    NameToReturn=PickAName.Name.to_string()
    
    return findword(NameToReturn,5)   #five spaces equals a tab
    
FetchFirstName(1912,'TX','F')

'Mozell'

In [7]:
LastNameDataFrame= pandas.read_csv('surnames.csv')
#print(LastNameDataFrame)

In [27]:
def FetchLastName():
    import numpy

    SelectOne = LastNameDataFrame.sample() ###NARROW BY YEAR PLUS OR MINUS 3, THEN STATE, THEN SEX
    NameToReturn=SelectOne.name.to_string()
    FormattedName=findword(NameToReturn,5)  #five spaces equals a tab
    FormattedName=FormattedName.capitalize() #capitalize first letter of word

    return FormattedName
    
FetchLastName()

'Case'

In [23]:
#need middle name so the first name has to be run twice.

In [28]:
def MakeAName():
    firstname=FetchFirstName(1912,'TX','F')
    lastname=FetchLastName()
    
    fullname=firstname+" "+lastname
    
    return fullname

In [39]:
for i in range(100):
    print(MakeAName())

Sophie Rice
Ola Mccullough
Consepcion Whitehead
Vida Ware
Lena Duncan
Maurice Finch
Jeannette Navarro
Juanita Davenport
Celia Baxter
Dionicia Hanson
Caroline Bernard
Lucille Simon
Oma Walsh
Ninfa Fletcher
Rosemary Lara
Sammie Odonnell
Hannah Byrd
Versie Howe
Mildred Frazier
May Rosario
Kitty Witt
Katherine Pope
Zada Oneal
Felipa Berry
Vallie Mcguire
Olevia Lehman
Lula Hebert
Alicia Bowers
Oleta Rowland
Christina Parks
Joan Hatfield
Lois Bryan
Cleora Childers
Clara Guzman
Cecilia Frye
Bernice Harper
Ola Sweeney
Agnes Ritter
Naomi Porter
Nova Hickman
Josefina Forbes
Ona Erickson
Della Robles
Earlene Simmons
Ozella Lowe
Ila Berry
Mozell Noble
John Anthony
Berniece Strickland
Roma Heath
Jean Koch
Rheba Delacruz
Cleo Beck
Grace Le
Bernice Roach
Geraldine Mccall
Alberta Christian
Sophie Monroe
Iva Gamble
Jeffie Lowe
Lona Miles
Edythe Oconnor
Lottie Brennan
Zula Mcfadden
Peggy Witt
Lily Ellison
June Bowers
Berniece Fitzpatrick
Emily Medrano
Hertha Stuart
Oralia Hodges
Tessie Simpson
Cornelia Molina
Lola Lowe
Augusta Leon
Zella Castro
Dolly Waller
Doris Duffy
Callie Key
Virginia Robbins
Corene Shields
Eunice Morrison
Olevia Mackey
Gertrude Wallace
Angela Singleton
Mollie Flynn
Ola Greene
Imogene Short
Janie Pacheco
Norma Kaplan
Beatrice Sawyer
Rosie Cobb
Simona Phelps
Norma Cline
Sofia Gaines
Georgie Chavez
Elva Woodward
Willa Berger
Alpha Benjamin
Elena Mcdowell