In [28]:
import pandas

df= pandas.read_csv('babyNamesUS.csv')
print(df)

        StateCode Sex  YearOfBirth      Name  Number
0              AK   F         1910      Mary      14
1              AK   F         1910     Annie      12
2              AK   F         1910      Anna      10
3              AK   F         1910  Margaret       8
4              AK   F         1910     Helen       7
...           ...  ..          ...       ...     ...
5743012        WY   M         2015  Sterling       5
5743013        WY   M         2015    Steven       5
5743014        WY   M         2015     Trace       5
5743015        WY   M         2015   Tristan       5
5743016        WY   M         2015     Tyson       5

[5743017 rows x 5 columns]

In [30]:
#get texas names to make a smaller file
SmallerDF=df.loc[df['StateCode'] == 'TX']
print(SmallerDF)

        StateCode Sex  YearOfBirth    Name  Number
4832355        TX   F         1910    Mary     895
4832356        TX   F         1910    Ruby     314
4832357        TX   F         1910   Annie     277
4832358        TX   F         1910  Willie     260
4832359        TX   F         1910    Ruth     252
...           ...  ..          ...     ...     ...
5163022        TX   M         2015     Zen       5
5163023        TX   M         2015  Zephan       5
5163024        TX   M         2015   Ziyad       5
5163025        TX   M         2015    Zyan       5
5163026        TX   M         2015   Zyron       5

[330672 rows x 5 columns]

In [31]:
#get texas names and AK names
SmallerDF=df.loc[(df['StateCode'] == 'TX') | (df['StateCode'] == 'AK')]
print(SmallerDF)

        StateCode Sex  YearOfBirth      Name  Number
0              AK   F         1910      Mary      14
1              AK   F         1910     Annie      12
2              AK   F         1910      Anna      10
3              AK   F         1910  Margaret       8
4              AK   F         1910     Helen       7
...           ...  ..          ...       ...     ...
5163022        TX   M         2015       Zen       5
5163023        TX   M         2015    Zephan       5
5163024        TX   M         2015     Ziyad       5
5163025        TX   M         2015      Zyan       5
5163026        TX   M         2015     Zyron       5

[357815 rows x 5 columns]

In [33]:
#Take just the smaller DB of names as source just TX and Alaska due to github limits
SmallerDF.to_csv('NamesAKTX.csv')